---
title: Metrics
layout: :layout_columns
---
:ruby
  content_for(:title, 'Metrics')
  content_for(:inline_css, 'source/templates/metrics/metrics.scss')

  most_watched_titles = Movielog::Db::QueryMostWatchedTitles.call(db: Movielog.db, limit: 10).map do |result|
    title = result.display_title
    title = link_to(result.display_title, href_for_review(Movielog.reviews[result.title])) if Movielog.reviews.key?(result.title)

    link = link_to(result.count, "/viewings/?title=#{URI.escape(result.display_title)}")

    [title, link]
  end

  most_watched_directors = Movielog::Db::QueryMostWatchedDirectors.call(db: Movielog.db, limit: 15).map do |result|
    [cast_and_crew_link(result), result.count]
  end

  most_watched_performers = Movielog::Db::QueryMostWatchedPerformers.call(db: Movielog.db, limit: 15).map do |result|
    [cast_and_crew_link(result), result.count]
  end

  most_watched_writers = Movielog::Db::QueryMostWatchedWriters.call(db: Movielog.db, limit: 15).map do |result|
    [cast_and_crew_link(result), result.count]
  end


- content_for :layout_column_1 do
  = partial('templates/metrics/metrics_header')
  = partial('templates/metrics/metrics_nav')

- content_for :layout_column_2 do
  .metrics
    %h3.metrics-heading#most-watched-titles Most Watched Titles
    = partial('templates/metrics/metrics_most_watched_table',
      locals: { column_1_label: 'Title', rows: most_watched_titles })

    %h3.metrics-heading#most-watched-directors Most Watched Directors
    = partial('templates/metrics/metrics_most_watched_table',
      locals: { column_1_label: 'Director', rows: most_watched_directors })

    %h3.metrics-heading#most-watched-performers Most Watched Performers
    = partial('templates/metrics/metrics_most_watched_table',
      locals: { column_1_label: 'Performer', rows: most_watched_performers })

    %h3.metrics-heading#most-watched-writers Most Watched Writers
    = partial('templates/metrics/metrics_most_watched_table',
      locals: { column_1_label: 'Writer', rows: most_watched_writers })