---
title: Metrics
---
- reviews = Movielog.reviews_by_title
- cast_and_crew = Movielog.cast_and_crew

.metrics
  .metrics-sidebar
    .metrics-panel
      %h1.metrics-title
        Metrics
      .metrics-avatar
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36.57143783569336" height="32" viewBox="0 0 36.57143783569336 32" data-code="61953" data-tags="line-chart"><g fill="#444" transform="scale(0.03125 0.03125)"><path d="M1170.286 877.714v73.143h-1170.286v-877.714h73.143v804.571h1097.143zM1097.143 164.571v248.571q0 12-11.143 16.857t-20.286-4.286l-69.143-69.143-361.714 361.714q-5.714 5.714-13.143 5.714t-13.143-5.714l-133.143-133.143-237.714 237.714-109.714-109.714 334.286-334.286q5.714-5.714 13.143-5.714t13.143 5.714l133.143 133.143 265.143-265.143-69.143-69.143q-9.143-9.143-4.286-20.286t16.857-11.143h248.571q8 0 13.143 5.143t5.143 13.143z" /></g></svg>

    .metrics-category
      %h2.metrics-category_title
        Most Watched
      %ul.metrics-nav
        %li.metrics-nav_item
          %a.metrics-nav_item_link{ href: '#most-watched-titles'}
            Titles
        %li.metrics-nav_item
          %a.metrics-nav_item_link{ href: '#most-watched-directors'}
            Directors
        %li.metrics-nav_item
          %a.metrics-nav_item_link{ href: '#most-watched-performers'}
            Performers
        %li.metrics-nav_item
          %a.metrics-nav_item_link{ href: '#most-watched-writers'}
            Writers
  .metrics-main
    #most-watched-titles.metrics-table_heading Most Watched Titles
    %table.metrics-table
      %thead
        %tr
          %th
            Title
          %th.numeric
            Viewings
      %tbody
        - Movielog::Db::QueryMostWatchedTitles.call(db: Movielog.db, limit: 5).each do |result|
          %tr
            %td
              - if reviews.key?(result.title)
                %a{ href: "/reviews/#{reviews[result.title].slug}/" }
                  = result.display_title
              - else
                = result.display_title
            %td.numeric
              %a{ href: "/viewings/?title=#{URI.escape(result.display_title)}", data: { no_carnac: true } }
                = result.count

    #most-watched-directors.metrics-table_heading Most Watched Directors
    %table.metrics-table
      %thead
        %tr
          %th
            Director
          %th.numeric
            Viewings
      %tbody
        - Movielog::Db::QueryMostWatchedDirectors.call(db: Movielog.db, limit: 5).each do |result|
          %tr
            %td
              - if cast_and_crew.key?(result.full_name)
                %a{ href: "/reviews/#{cast_and_crew[result.full_name].slug}/" }
                  #{result.first_name} #{result.last_name}
              - else
                #{result.first_name} #{result.last_name}
            %td.numeric
              = result.count

    #most-watched-performers.metrics-table_heading Most Watched Performers
    %table.metrics-table
      %thead
        %tr
          %th
            Performer
          %th.numeric
            Viewings
      %tbody
        - Movielog::Db::QueryMostWatchedPerformers.call(db: Movielog.db, limit: 5).each do |result|
          %tr
            %td
              - if cast_and_crew.key?(result.full_name)
                %a{ href: "/reviews/#{cast_and_crew[result.full_name].slug}/" }
                  #{result.first_name} #{result.last_name}
              - else
                #{result.first_name} #{result.last_name}
            %td.numeric
              = result.count

    #most-watched-writers.metrics-table_heading Most Watched Writers
    %table.metrics-table
      %thead
        %tr
          %th
            Writer
          %th.numeric
            Viewings
      %tbody
        - Movielog::Db::QueryMostWatchedWriters.call(db: Movielog.db, limit: 5).each do |result|
          %tr
            %td
              - if cast_and_crew.key?(result.full_name)
                %a{ href: "/reviews/#{cast_and_crew[result.full_name].slug}/" }
                  #{result.first_name} #{result.last_name}
              - else
                #{result.first_name} #{result.last_name}
            %td.numeric
              = result.count
