!!!
%html{ xmlns: 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en-us', lang: 'en-us' }
  %head
    %meta{ 'http-equiv' => 'content-type', content: 'text/html; charset=utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1' }
    - if content_for?(:description)
      %meta{ name: 'description', content: yield_content(:description) }
    %title
      - if current_page.data.title
        #{current_page.data.title} |
        #{Movielog.site_title}
      - elsif content_for?(:title)
        #{yield_content(:title)} | #{Movielog.site_title}
      - else
        #{Movielog.site_title}
    = stylesheet_link_tag 'application'
    %link{ rel: 'apple-touch-icon', sizes: '57x57', href: '/apple-touch-icon-57x57.png' }
    %link{ rel: 'apple-touch-icon', sizes: '114x114', href: '/apple-touch-icon-114x114.png' }
    %link{ rel: 'apple-touch-icon', sizes: '72x72', href: '/apple-touch-icon-72x72.png' }
    %link{ rel: 'apple-touch-icon', sizes: '144x144', href: '/apple-touch-icon-144x144.png' }
    %link{ rel: 'apple-touch-icon', sizes: '60x60', href: '/apple-touch-icon-60x60.png' }
    %link{ rel: 'apple-touch-icon', sizes: '120x120', href: '/apple-touch-icon-120x120.png' }
    %link{ rel: 'apple-touch-icon', sizes: '76x76', href: '/apple-touch-icon-76x76.png' }
    %link{ rel: 'apple-touch-icon', sizes: '152x152', href: '/apple-touch-icon-152x152.png' }
    %link{ rel: 'icon', type: 'image/png', href: '/favicon-196x196.png', sizes: '196x196' }
    %link{ rel: 'icon', type: 'image/png', href: '/favicon-160x160.png', sizes: '160x160' }
    %link{ rel: 'icon', type: 'image/png', href: '/favicon-96x96.png', sizes: '96x96' }
    %link{ rel: 'icon', type: 'image/png', href: '/favicon-16x16.png', sizes: '16x16' }
    %link{ rel: 'icon', type: 'image/png', href: '/favicon-32x32.png', sizes: '32x32' }
    %meta{ name: 'msapplication-TileColor', content: '#2b5797' }
    %meta{ name: 'msapplication-TileImage', content: '/mstile-144x144.png' }
    %link{ rel: 'alternate', type: 'application/rss+xml', title: 'RSS', href: '/feed.xml' }
    %script{ type: 'text/javascript', src: '//use.typekit.net/qaj8mga.js' }
    = yield_content(:js_head)
    :javascript
      try{Typekit.load();}catch(e){}

  %body
    -# Target for toggling the sidebar `.sidebar-checkbox` is for regular styles,
    -# `#sidebar-checkbox` for behavior.
    %input.sidebar-checkbox#sidebar-checkbox{ type: 'checkbox' }
    -# Toggleable sidebar
    .sidebar#sidebar
      = form_tag 'https://www.google.com/search', method: :get do
        = hidden_field_tag 'q', value: 'site:movielog.frankshowalter.com'
        .search-wrap.clearable-wrap
          = text_field_tag('q', placeholder: 'Search the Movie Log',
                                id: 'searchInput',
                                class: 'site-search-input',
                                size: '30')
          %svg.search-icon{ viewBox: '-192 -384 2048 2048', xmlns: 'http://www.w3.org/2000/svg' }
            %g{ transform: 'scale(1 -1) translate(0 -1280)' }
              %path{ d: 'M1152 704q0 185 -131.5 316.5t-316.5 131.5t-316.5 -131.5t-131.5 -316.5t131.5 -316.5t316.5 -131.5t316.5 131.5t131.5 316.5zM1664 -128q0 -52 -38 -90t-90 -38q-54 0 -90 38l-343 342q-179 -124 -399 -124q-143 0 -273.5 55.5t-225 150t-150 225t-55.5 273.5 t55.5 273.5t150 225t225 150t273.5 55.5t273.5 -55.5t225 -150t150 -225t55.5 -273.5q0 -220 -124 -399l343 -343q37 -37 37 -90z' }
      %nav.sidebar-nav
        %a{ href: '/',
            class: "sidebar-nav-item#{' active' if current_page.url == '/' }"}
          Home
        %a{ href: '/viewings/',
            class: "sidebar-nav-item#{' active' if current_page.url == '/viewings/' }"}
          Viewing Log
    .wrap
      .masthead
        .container
          %h1.masthead-title
            %a{ href: '/', title: 'Home' } Frank's Movie Log
      .container.content{ class: yield_content(:content_class) }
        = yield
      %footer.site-footer
        .site-footer-content
          = "This has been #{link_to("Frank's Movie Log", '/', class: 'site-footer__link')}, loving movies since 2012."
        %a.site-footer-twitter{ href: 'http://twitter.com/FranksMovieLog'}
          %svg.twitter.icon{ xmlns: 'http://www.w3.org/2000/svg', viewBox: '-192 -384 2048 2048' }
            %g{ transform: 'scale(1 -1) translate(0 -1280)' }
              %path{ d: 'M1620 1128q-67 -98 -162 -167q1 -14 1 -42q0 -130 -38 -259.5t-115.5 -248.5t-184.5 -210.5t-258 -146t-323 -54.5q-271 0 -496 145q35 -4 78 -4q225 0 401 138q-105 2 -188 64.5t-114 159.5q33 -5 61 -5q43 0 85 11q-112 23 -185.5 111.5t-73.5 205.5v4q68 -38 146 -41 q-66 44 -105 115t-39 154q0 88 44 163q121 -149 294.5 -238.5t371.5 -99.5q-8 38 -8 74q0 134 94.5 228.5t228.5 94.5q140 0 236 -102q109 21 205 78q-37 -115 -142 -178q93 10 186 50z', fill: 'white' }
          follow
        %a.site-footer-feed{ href: '/feed'}
          %svg.feed.icon{ viewBox: '-320 -384 2048 2048', xmlns: 'http://www.w3.org/2000/svg' }
            %g{ transform: 'scale(1 -1) translate(0 -1280)' }
              %path{ d: 'M384 192q0 -80 -56 -136t-136 -56t-136 56t-56 136t56 136t136 56t136 -56t56 -136zM896 69q2 -28 -17 -48q-18 -21 -47 -21h-135q-25 0 -43 16.5t-20 41.5q-22 229 -184.5 391.5t-391.5 184.5q-25 2 -41.5 20t-16.5 43v135q0 29 21 47q17 17 43 17h5q160 -13 306 -80.5 t259 -181.5q114 -113 181.5 -259t80.5 -306zM1408 67q2 -27 -18 -47q-18 -20 -46 -20h-143q-26 0 -44.5 17.5t-19.5 42.5q-12 215 -101 408.5t-231.5 336t-336 231.5t-408.5 102q-25 1 -42.5 19.5t-17.5 43.5v143q0 28 20 46q18 18 44 18h3q262 -13 501.5 -120t425.5 -294 q187 -186 294 -425.5t120 -501.5z', fill: 'black'}
          subscribe

    %label.sidebar-toggle{ for: 'sidebar-checkbox' }
      %svg.nav-menu{ version: '1.1',
                     xmlns: 'http://www.w3.org/2000/svg',
                     x: '0px',
                     y: '0px'}
        %g
          %rect{ width: '18', height: '2' }
          %rect{ y: '5', width: '18', height: '2' }
          %rect{ y: '10', width: '18', height: '2' }
    = javascript_include_tag('remove_touch_delay.js', async: :async)
    = yield_content(:js)
    - unless development?
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-55282521-1', 'auto');
        ga('send', 'pageview');

        !function(e){var c=e.querySelector(".sidebar-toggle"),r=e.querySelector("#sidebar"),
        t=e.querySelector("#sidebar-checkbox");e.addEventListener("click",function(e){
        var n=e.target;t.checked&&!r.contains(n)&&n!==t&&n!==c&&(t.checked=!1)},!1)}(document);