!!!
%html{ xmlns: 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en-us', lang: 'en-us' }
  %head
    %meta{ 'http-equiv' => 'content-type', content: 'text/html; charset=utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1' }
    %title
      - if current_page.data.title
        #{current_page.data.title} | #{Movielog.site_title}
      - elsif content_for?(:title)
        #{yield_content(:title)} | #{Movielog.site_title}
      - else
        #{Movielog.site_title}
    = stylesheet_link_tag 'application', relative: false
    - if content_for?(:head)
      = yield_content(:head)
    - if content_for?(:inline_css)
      - inline_css_file  = sitemap.resources.select { |p| p.source_file.match(/#{yield_content(:inline_css)}[.]css[.]scss$/) }.first
      - if inline_css_file
        %style{ type: 'text/css' }
          = inline_css_file.render

    %link{ rel: 'apple-touch-icon', sizes: '57x57', href: '/apple-touch-icon-57x57.png' }
    %link{ rel: 'apple-touch-icon', sizes: '114x114', href: '/apple-touch-icon-114x114.png' }
    %link{ rel: 'apple-touch-icon', sizes: '72x72', href: '/apple-touch-icon-72x72.png' }
    %link{ rel: 'apple-touch-icon', sizes: '144x144', href: '/apple-touch-icon-144x144.png' }
    %link{ rel: 'apple-touch-icon', sizes: '60x60', href: '/apple-touch-icon-60x60.png' }
    %link{ rel: 'apple-touch-icon', sizes: '120x120', href: '/apple-touch-icon-120x120.png' }
    %link{ rel: 'apple-touch-icon', sizes: '76x76', href: '/apple-touch-icon-76x76.png' }
    %link{ rel: 'apple-touch-icon', sizes: '152x152', href: '/apple-touch-icon-152x152.png' }
    %link{ rel: 'icon', type: 'image/png', href: '/favicon-196x196.png', sizes: '196x196' }
    %link{ rel: 'icon', type: 'image/png', href: '/favicon-160x160.png', sizes: '160x160' }
    %link{ rel: 'icon', type: 'image/png', href: '/favicon-96x96.png', sizes: '96x96' }
    %link{ rel: 'icon', type: 'image/png', href: '/favicon-16x16.png', sizes: '16x16' }
    %link{ rel: 'icon', type: 'image/png', href: '/favicon-32x32.png?v=2', sizes: '32x32' }
    %meta{ name: 'msapplication-TileColor', content: '#2b5797' }
    %meta{ name: 'msapplication-TileImage', content: '/mstile-144x144.png' }
    %link{ rel: 'alternate', type: 'application/atom+xml', title: 'Feed', href: '/feed.xml' }
    %link{ href: "https://www.franksmovielog.com#{current_page.url}", rel: 'canonical' }
  %body
    .content-container{ class: yield_content(:content_class) }
      %header.mast
        %h1.mast__title
          %a.mast__title-link{ href: '/', tabindex: 1 } Frank's Movie Log
        %button.mast__search-toggle{ data: { toggle: true }, accessKey: 'S', tabindex: 3 }
          Search
        = form_tag 'https://www.google.com/search', method: :get, class: 'mast__search-form js-toggle js-toggle_off' do
          = hidden_field_tag 'q', value: 'site:www.franksmovielog.com'
          .mast__search-wrap
            = text_field_tag('q', placeholder: 'Search the Movie Log',
                                  id: 'mastSearchInput',
                                  class: 'mast__search-input',
                                  tabindex: 2)
      = yield
      %footer.footer
        = yield_content(:footer) if content_for?(:footer)

        - unless content_for?(:no_about_footer)
          = partial(:about)
        - unless content_for?(:no_how_i_grade_footer)
          .card.card--with_shadow.footer-how_i_grade
            %h2.footer_header
              How I Grade
            .card_text
              %dl.footer_how_i_grade_list
                %dt.footer_how_i_grade_list-grade
                  = grade_to_image_tag(grade: 'A', options: { class: 'footer_how_i_grade_list-rating' })
                %dd.footer_how_i_grade_list-text
                  %span a great movie
                %dt.footer_how_i_grade_list-grade
                  = grade_to_image_tag(grade: 'B', options: { class: 'footer_how_i_grade_list-rating' })
                %dd.footer_how_i_grade_list-text
                  %span  a good movie
                %dt.footer_how_i_grade_list-grade
                  = grade_to_image_tag(grade: 'C', options: { class: 'footer_how_i_grade_list-rating' })
                %dd.footer_how_i_grade_list-text
                  %span an okay movie
                %dt.footer_how_i_grade_list-grade
                  = grade_to_image_tag(grade: 'D', options: { class: 'footer_how_i_grade_list-rating' })
                %dd.footer_how_i_grade_list-text
                  %span a bad movie
                %dt.footer_how_i_grade_list-grade
                  = grade_to_image_tag(grade: 'F', options: { class: 'footer_how_i_grade_list-rating' })
                %dd.footer_how_i_grade_list-text
                  %span an awful movie

              %p Grading systems are harder than one would think. It's all about nuance. I think a 5-star system works, but I’m not married to the idea.
            .card_actions.card_actions--with_divider
              %a{ href: '/features/how-i-grade/'}
                More about how I grade
        .footer_links
          %a{ href: '/' } Frank's Movie Log
          %a{ href: '/' } Latest Updates
          %a{ href: '/viewings/', data: { no_carnac: true } } Viewing Log
          %a{ href: '/features/how-i-grade/' } How I Grade

      - unless development?
        %script{ async: true, src: '//www.google-analytics.com/analytics.js' }
        :javascript
          window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
          ga('create', 'UA-55282521-1', 'auto');
          var pl = window.location.pathname + window.location.search
          ga('send', 'pageview', { 'page': pl, 'title': document.title })
      = javascript_include_tag('application.js', async: :async )
      %script
        :plain
          (function(d) {var config={kitId:'ngs8sfs',scriptTimeout: 3000, active: window.set_rhythm },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
          })(document);
