!!!
%html{ xmlns: 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en-us', lang: 'en-us' }
  %head
    %meta{ 'http-equiv' => 'content-type', content: 'text/html; charset=utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1' }
    - if content_for?(:description)
      %meta{ name: 'description', content: yield_content(:description) }
    %title
      - if current_page.data.title
        #{current_page.data.title} | #{Movielog.site_title}
      - elsif content_for?(:title)
        #{yield_content(:title)} | #{Movielog.site_title}
      - else
        #{Movielog.site_title}
    = stylesheet_link_tag 'application'
    %link{ rel: 'apple-touch-icon', sizes: '57x57', href: '/apple-touch-icon-57x57.png' }
    %link{ rel: 'apple-touch-icon', sizes: '114x114', href: '/apple-touch-icon-114x114.png' }
    %link{ rel: 'apple-touch-icon', sizes: '72x72', href: '/apple-touch-icon-72x72.png' }
    %link{ rel: 'apple-touch-icon', sizes: '144x144', href: '/apple-touch-icon-144x144.png' }
    %link{ rel: 'apple-touch-icon', sizes: '60x60', href: '/apple-touch-icon-60x60.png' }
    %link{ rel: 'apple-touch-icon', sizes: '120x120', href: '/apple-touch-icon-120x120.png' }
    %link{ rel: 'apple-touch-icon', sizes: '76x76', href: '/apple-touch-icon-76x76.png' }
    %link{ rel: 'apple-touch-icon', sizes: '152x152', href: '/apple-touch-icon-152x152.png' }
    %link{ rel: 'icon', type: 'image/png', href: '/favicon-196x196.png', sizes: '196x196' }
    %link{ rel: 'icon', type: 'image/png', href: '/favicon-160x160.png', sizes: '160x160' }
    %link{ rel: 'icon', type: 'image/png', href: '/favicon-96x96.png', sizes: '96x96' }
    %link{ rel: 'icon', type: 'image/png', href: '/favicon-16x16.png', sizes: '16x16' }
    %link{ rel: 'icon', type: 'image/png', href: '/favicon-32x32.png?v=2', sizes: '32x32' }
    %meta{ name: 'msapplication-TileColor', content: '#2b5797' }
    %meta{ name: 'msapplication-TileImage', content: '/mstile-144x144.png' }
    %link{ rel: 'alternate', type: 'application/rss+xml', title: 'RSS', href: '/feed.xml' }

  %body
    %header.masthead
      %h1.masthead-title
        %a.masthead-title-link{ href: '/' } Frank's Movie Log
      %nav
        %button.nav-menu-toggle{ data: { toggle: true }}
          Menu
        %ul.nav-menu.js-collapse.js-collapsed
          %li.nav-menu-item.nav-menu-item-search
            = form_tag 'https://www.google.com/search', method: :get, class: 'search-form' do
              = hidden_field_tag 'q', value: 'site:www.franksmovielog.com'
              .site-search-wrap
                = text_field_tag('q', placeholder: 'Search the Movie Log',
                                      id: 'searchInput',
                                      class: 'site-search-input')
          %li.nav-menu-item
            %a.nav-menu-link{ href: '/',
              class: "#{'active' if current_page.url == '/' }"}
              Latest Updates
          %li.nav-menu-item
            %a.nav-menu-link{ href: '/features/how-i-grade/',
              class: "#{'active' if current_page.url == '/features/how-i-grade/' }"}
              How I Grade
          %li.nav-menu-item
            %a.nav-menu-link{ href: '/viewings/',
                class: "#{'active' if current_page.url == '/viewings/' }",
                 data: { no_instant: true }}
              Viewing Log
    .container.content{ class: yield_content(:content_class) }
      - if content_for?(:header)
        %h2.page-title
          = yield_content(:header)
      = yield
    %footer.site-footer
      .site-footer-content
        = "This has been #{link_to("Frank's Movie Log", '/')}, loving movies since 2012."
      %a.site-footer-twitter{ href: 'http://twitter.com/FranksMovieLog',
                              data: { no_instant: true }}
        follow
      %a.site-footer-feed{ href: '/feed.xml', data: { no_instant: true }}
        subscribe
    - unless development?
      %script{ async: true, src: '//www.google-analytics.com/analytics.js', data: { no_instant: true }}
      :javascript
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-55282521-1', 'auto');
        var pl = window.location.pathname + window.location.search
        ga('send', 'pageview', { 'page': pl, 'title': document.title })
    :javascript
      (function(d) {var config={kitId:'obz2qjv',scriptTimeout: 3000},
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    = javascript_include_tag('application.js', async: :async, data: { no_instant: true })
