!!!
%html{ xmlns: 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en-us', lang: 'en-us' }
  %head
    %meta{ 'http-equiv' => 'content-type', content: 'text/html; charset=utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1' }
    - if content_for?(:description)
      %meta{ name: 'description', content: yield_content(:description) }
    %title
      - if current_page.data.title
        #{current_page.data.title} | #{Movielog.site_title}
      - elsif content_for?(:title)
        #{yield_content(:title)} | #{Movielog.site_title}
      - else
        #{Movielog.site_title}
    = stylesheet_link_tag 'application', relative: false
    %link{ rel: 'apple-touch-icon', sizes: '57x57', href: '/apple-touch-icon-57x57.png' }
    %link{ rel: 'apple-touch-icon', sizes: '114x114', href: '/apple-touch-icon-114x114.png' }
    %link{ rel: 'apple-touch-icon', sizes: '72x72', href: '/apple-touch-icon-72x72.png' }
    %link{ rel: 'apple-touch-icon', sizes: '144x144', href: '/apple-touch-icon-144x144.png' }
    %link{ rel: 'apple-touch-icon', sizes: '60x60', href: '/apple-touch-icon-60x60.png' }
    %link{ rel: 'apple-touch-icon', sizes: '120x120', href: '/apple-touch-icon-120x120.png' }
    %link{ rel: 'apple-touch-icon', sizes: '76x76', href: '/apple-touch-icon-76x76.png' }
    %link{ rel: 'apple-touch-icon', sizes: '152x152', href: '/apple-touch-icon-152x152.png' }
    %link{ rel: 'icon', type: 'image/png', href: '/favicon-196x196.png', sizes: '196x196' }
    %link{ rel: 'icon', type: 'image/png', href: '/favicon-160x160.png', sizes: '160x160' }
    %link{ rel: 'icon', type: 'image/png', href: '/favicon-96x96.png', sizes: '96x96' }
    %link{ rel: 'icon', type: 'image/png', href: '/favicon-16x16.png', sizes: '16x16' }
    %link{ rel: 'icon', type: 'image/png', href: '/favicon-32x32.png?v=2', sizes: '32x32' }
    %meta{ name: 'msapplication-TileColor', content: '#2b5797' }
    %meta{ name: 'msapplication-TileImage', content: '/mstile-144x144.png' }
    %link{ rel: 'alternate', type: 'application/rss+xml', title: 'RSS', href: '/feed.xml' }
  %body
    .content-container{ class: yield_content(:content_class) }
      %header.mast
        %h1.mast__title
          %a.mast__title-link{ href: '/' } Frank's Movie Log
        %button.mast__search-toggle{ data: { toggle: true }, accessKey: 'S' }
          Search
        = form_tag 'https://www.google.com/search', method: :get, class: 'mast__search-form js-toggle js-toggle-off' do
          = hidden_field_tag 'q', value: 'site:www.franksmovielog.com'
          .mast__search-wrap
            = text_field_tag('q', placeholder: 'Search the Movie Log',
                                  id: 'mastSearchInput',
                                  class: 'mast__search-input')
        %ul.mast__nav
          %li.mast__nav-item
            %a.mast__nav-link{ href: '/',
              class: "#{'is-active' if current_page.url == '/' }" }
              Latest Updates
          %li.mast__nav-item
            %a.mast__nav-link{ href: '/viewings/',
              class: "#{'is-active' if current_page.url == '/viewings/' }" }
              Viewing Log
      - if content_for?(:header)
        %h2.page-title{ data: { rhythm: 0 }}
          = yield_content(:header)
      = yield
      %footer.site-footer
        .site-footer-cards
          .site-footer-about.site-footer-card
            %h2.site-footer-header 
              About
            %p Hi there. I'm Frank. This site is a catalog of my movie-watching adventures. I keep a searchable <a href='/viewings/'>viewing log</a> where I track everything I see, and I try to review as much as I can. If you're curious about the star ratings, I wrote a piece on <a href='/features/how-i-grade/'>how I grade</a>. Once upon a time, I reviewed everything I watched, but these days I aim for quality over quantity. I’m not a great writer. Maybe not even a good one. But with practice I can be better.

            %a.site-footer-twitter{ href: 'http://twitter.com/FranksMovieLog',
                                  data: { no_instant: true }}
              Find me on Twitter

          .site-footer-recent-updates.site-footer-card
            %h2.site-footer-header 
              Recent Posts
            %ul.site-footer-recent-updates-list
              - sorted_posts.first(5).each do |post_key|
                - post = Movielog.posts[post_key]
                - if post.is_a?(Movielog::Review)
                  - review = post
                  - directors = MovieDb.directors_for_title(db: Movielog.db, title: review.title)
                  %li.site-footer-recent-updates-list-item{ value: review.sequence }
                    %a.site-footer-recent-updates-tile{ href: "/reviews/#{review.slug}/"}
                      %header.site-footer-recent-updates-list-item-header{ data: { sequence: review.sequence} }
                        .site-foooter-recent-updates-list-item-header-wrap
                          %h3.site-footer-recent-updates-list-item-title
                            = "#{review.display_title}"
                        .latest-updates-list-item-slug
                          = grade_to_image_tag(grade: review.grade, options: { class: 'site-footer-recent-updates-list-item-rating' })
                          = ' D:'
                          = " #{directors.map { |d| "<span class='name'>#{d.first_name} #{d.last_name}</span>" }.to_sentence}. "
                          = " #{headline_cast(title: review.title)}."
                      .site-footer-recent-updates-list-item-backdrop{ data: { backdrop: review.backdrop } }
            %a.site-footer-feed{ href: '/feed.xml', data: { no_instant: true }}
              subscribe
        .site-footer-mast
          .site-footer-links
            %a{ href: '/'} Latest Updates
            %a{ href: '/viewings/'} Viewing Log
            %a{ href: '/features/how-i-grade/'} How I Grade
          .site-footer-search
            = form_tag 'https://www.google.com/search', method: :get, class: 'site-footer-search-form' do
              = hidden_field_tag 'q', value: 'site:www.franksmovielog.com'
              .site-footer-site-search-wrap
                = text_field_tag('q', placeholder: 'Search the Movie Log',
                                      id: 'searchInput',
                                      class: 'site-footer-site-search-input')
        / .site-footer-slug

        /   = "This has been #{link_to("Frank's Movie Log", '/')}, loving movies since 2012."
        
      - unless development?
        %script{ async: true, src: '//www.google-analytics.com/analytics.js', data: { no_instant: true }}
        :javascript
          window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
          ga('create', 'UA-55282521-1', 'auto');
          var pl = window.location.pathname + window.location.search
          ga('send', 'pageview', { 'page': pl, 'title': document.title })
      = javascript_include_tag('application.js', async: :async, data: { no_instant: true })
      :javascript
        (function(d) {var config={kitId:'ngs8sfs',scriptTimeout: 3000, active: window.set_rhythm },
          h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
