!!!
%html{ xmlns: "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", lang: "en-us" }
  %head
    %meta{ 'http-equiv' => "content-type", content: "text/html; charset=utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1" }
    %title
      - if current_page.data.title
        #{current_page.data.title} &middot; #{site.title}
      - else
        #{site.title} &middot; #{site.tagline}
    = stylesheet_link_tag "application"
    %link{ rel: "apple-touch-icon-precomposed", sizes:"144x144", href: "/apple-touch-icon-144-precomposed.png" }
    %link{ rel: "shortcut icon", href: "/favicon.ico" }
    %link{ rel: "alternate", type: "application/rss+xml", title: "RSS", href: "/feed" }
    :javascript
      (function(d) {
        var config = {
          kitId: 'obz2qjv',
          scriptTimeout: 3000
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);


  %body.layout-reverse
    -# Target for toggling the sidebar `.sidebar-checkbox` is for regular styles, `#sidebar-checkbox` for behavior.
    %input#sidebar-checkbox.sidebar-checkbox{ type: "checkbox" }
    -# Toggleable sidebar
    #sidebar.sidebar
      .sidebar-item
        %p
          A chronological log of what I've seen, what it was about, what it was like, and whether or not I liked it&mdash;in as few words as possible.
      %nav.sidebar-nav
        %a{ class: "sidebar-nav-item#{' active' if current_page.url == '/' }"} Home
        %a.sidebar-nav-item{ href: "https://github.com/fshowalter/movielog/tree/gh-pages" } GitHub
        %span.sidebar-nav-item Currently v 1.1.0

      .sidebar-item
        %p &copy; #{ Date.today.year }. All rights reserved.
    .masthead
      .container
        %h3.masthead-title
          %a{ href: "/", title: "Home" } #{site.title}
          %small #{site.tagline}
    .wrap
      .container.content
        = yield

    %label.sidebar-toggle{ for: "sidebar-checkbox" }
      %svg.nav-menu{ version: "1.1", xmlns: "http://www.w3.org/2000/svg", xmlns: "http://www.w3.org/1999/xlink", x: "0px", y: "0px"}
        %path{ fill: "none", d: "z" }
        %g
          %rect{ width: "18", height: "2" }
          %rect{ y: "5", width: "18", height: "2" }
          %rect{ y: "10", width: "18", height: "2" }
        %path{ fill: "none", d: "z" }
