:ruby
  avatar = Movielog.avatars[person.slug]

.cast_and_crew_header-wrap
  .cast_and_crew_header-card
    - if avatar
      .cast_and_crew_header-avatar{ data: { backdrop: avatar.image_url }}

    %h1.cast_and_crew_header-name
      #{person.first_name} #{person.last_name}
    .cast_and_crew_header-stats
      #{person.all.keys.length} reviewed titles.

  %ul.cast_and_crew_header-nav
    - if person.direction_credits
      %li.cast_and_crew_header-nav_item
        %a.cast_and_crew_header-nav_item_link{ href: '#director'}
          Director (#{person.direction_credits.count})
    - if person.performance_credits
      %li.cast_and_crew_header-nav_item
        %a.cast_and_crew_header-nav_item_link{ href: '#performer'}
          Performer (#{person.performance_credits.count})
    - if person.writing_credits
      %li.cast_and_crew_header-nav_item
        %a.cast_and_crew_header-nav_item_link{ href: '#writer'}
          Writer (#{person.writing_credits.count})
