---
title: Viewing Log
layout: :columns
---
- sorted_viewings = viewings.keys.sort.reverse
- content_for :layout_column_1 do
  = partial('components/viewing_log_card/viewing_log_card', locals: { viewings: viewings })

- content_for :layout_column_2 do
  %ol.viewings_list#viewings
    - sorted_viewings.each do |key|
      - viewing = viewings[key]
      - review = reviews[viewing.title]
      %li.viewings_list_item{ data_for_viewing(viewing: viewing) }
        .viewings_list_item-title
          - if review
            %a{ href: "/reviews/#{review.slug}/" }
              = "#{review.display_title}"
          - else
            = viewing.display_title
        %div{ class: "viewings_list_item-slug #{'with-rating' if review}" }
          = "#{viewing.date.strftime("%A the #{viewing.date.day.ordinalize} of %B %Y")} via #{viewing.venue}."

  = javascript_include_tag('filters.js', async: true)