:ruby
  sorted_viewings = viewings.keys.sort.reverse


%ol.viewings_list#viewings
  - viewings.values.sort_by(&:sequence).reverse.each do |viewing|
    - review = Movielog.reviews[viewing.db_title]
    %li.viewings_list-item{ data_for_viewing(viewing: viewing) }
      .viewings_list-item_title
        - if review
          %a{ href: href_for_review(review) }
            = review.title
        - else
          = viewing.title
      %div{ class: "viewings_list-item_slug #{'with-rating' if review}" }
        = "#{viewing.date.strftime("%A the #{viewing.date.day.ordinalize} of %B %Y")} via #{viewing.venue}."