%ol.viewings_list#viewings
  - viewing_keys.each do |key|
    - viewing = viewings[key]
    - review = reviews[viewing.title]
    %li.viewings_list-item{ data_for_viewing(viewing: viewing) }
      .viewings_list-item_title
        - if review
          %a{ href: href_for_review(review) }
            = review.title
        - else
          = viewing.display_title
      %div{ class: "viewings_list-item_slug #{'with-rating' if review}" }
        = "#{viewing.date.strftime("%A the #{viewing.date.day.ordinalize} of %B %Y")} via #{viewing.venue}."