%header.card-header{ data: { carnac: true } }
  .card-header_backdrop{ data: { backdrop: feature.backdrop } }
  %h3.card-header_title
    %a{ href: "/features/#{feature.slug}/"}
      = feature.title
.card-content
  = markdown(feature.pull_quote)
.card-actions
  %a{ href: "/features/#{feature.slug}/", title: "Continue reading #{feature.title}" }
    Continue reading

