%h2.card-header_title
  How I Grade
.card-content
  %dl.how_i_grade_list
    %dt.how_i_grade_list-grade
      = grade_to_image_tag(grade: 'A', options: { class: 'footer_how_i_grade_list-rating' })
    %dd.how_i_grade_list-text
      %span a great movie
    %dt.how_i_grade_list-grade
      = grade_to_image_tag(grade: 'B', options: { class: 'footer_how_i_grade_list-rating' })
    %dd.how_i_grade_list-text
      %span  a good movie
    %dt.how_i_grade_list-grade
      = grade_to_image_tag(grade: 'C', options: { class: 'footer_how_i_grade_list-rating' })
    %dd.how_i_grade_list-text
      %span an okay movie
    %dt.how_i_grade_list-grade
      = grade_to_image_tag(grade: 'D', options: { class: 'footer_how_i_grade_list-rating' })
    %dd.how_i_grade_list-text
      %span a bad movie
    %dt.how_i_grade_list-grade
      = grade_to_image_tag(grade: 'F', options: { class: 'footer_how_i_grade_list-rating' })
    %dd.how_i_grade_list-text
      %span an awful movie

  %p Grading systems are harder than one would think. It's all about nuance. I think a 5-star system works, but I’m not married to the idea.
.card-actions
  %a{ href: '/features/how-i-grade/'}
    More about how I grade