- prev_post = Movielog.posts[current_post.sequence - 1]
- next_post = Movielog.posts[current_post.sequence + 1]

.post_navigation
  - if next_post
    - link_path = 'features'
    - if next_post.is_a?(Movielog::Review)
      - directors = MovieDb.directors_for_title(db: Movielog.db, title: next_post.title)
      - link_path = 'reviews'
    .post_navigation-item
      %h2.post_navigation-header
        Next Post
      .card.card--with_shadow
        .card_header_wrap{ data: { carnac: true } }
          .card_header
            %h3.card_header-title
              %a{ href: "/#{link_path}/#{next_post.slug}/"}
                = "#{next_post.display_title}"
            = grade_to_image_tag(grade: next_post.grade, options: { class: 'card_header-rating' })
          .card_backdrop{ data: { backdrop: next_post.backdrop } }
          - if next_post.is_a?(Movielog::Review)
            .card_slug
              = ' D:'
              = " #{directors.map { |d| "<span class='name'>#{d.first_name} #{d.last_name}</span>" }.to_sentence}. "
              = " #{headline_cast(title: next_post.title)}."
        .card_text
          = markdown(next_post.pull_quote)
        .card_actions
          %a{ href: "/#{link_path}/#{next_post.slug}/", title: "Continue reading #{next_post.display_title.upcase}" }
            Continue reading
          &nbsp;&middot; #{minutes_to_read(next_post.content)} min read
  - if prev_post
    - link_path = 'features'
    - if prev_post.is_a?(Movielog::Review)
      - directors = MovieDb.directors_for_title(db: Movielog.db, title: prev_post.title)
      - link_path = 'reviews'
    .post_navigation-item
      %h2.post_navigation-header
        Prev Post
      .card.card--with_shadow
        .card_header_wrap{ data: { carnac: true } }
          .card_header
            %h3.card_header-title
              %a{ href: "/#{link_path}/#{prev_post.slug}/"}
                = "#{prev_post.display_title}"
            = grade_to_image_tag(grade: prev_post.grade, options: { class: 'card_header-rating' })
          .card_backdrop{ data: { backdrop: prev_post.backdrop } }
          - if prev_post.is_a?(Movielog::Review)
            .card_slug
              = ' D:'
              = " #{directors.map { |d| "<span class='name'>#{d.first_name} #{d.last_name}</span>" }.to_sentence}. "
              = " #{headline_cast(title: prev_post.title)}."
        .card_text
          = markdown(prev_post.pull_quote)
        .card_actions
          %a{ href: "/#{link_path}/#{prev_post.slug}/", title: "Continue reading #{prev_post.display_title.upcase}" }
            Continue reading
          &nbsp;&middot; #{minutes_to_read(prev_post.content)} min read