.recent_posts.card.card--with_shadow
  %h2.footer_header
    Recent Posts
  %ol.recent_posts_list
    - post_count = 1;
    - post = nil
    - sorted_posts.each do |post_key|
      - post = Movielog.posts[post_key]
      - next if post_key == current_post.sequence
      - break if post_count > 5
      - post_count = post_count + 1
      - if post.is_a?(Movielog::Review)
        - directors = MovieDb.directors_for_title(db: Movielog.db, title: post.title)
        %li.card
          .card_header_wrap{ data: { carnac: true } }
            .card_header
              %h3.card_header-title{ data: { sequence: post.sequence} }
                %a{ href: "/reviews/#{post.slug}/"}
                  = "#{post.display_title}"
              = grade_to_image_tag(grade: post.grade, options: { class: 'card_header-rating' })
            .card_backdrop{ data: { backdrop: post.backdrop } }
            .card_slug
              = ' D:'
              = " #{directors.map { |d| "<span class='name'>#{d.first_name} #{d.last_name}</span>" }.to_sentence}. "
              = " #{headline_cast(title: post.title)}."
          .card_text
            = markdown(post.pull_quote)
          .card_actions
            %a{ href: "/reviews/#{post.slug}/", title: "Continue reading #{post.display_title.upcase}" }
              Continue reading
            &nbsp;&middot; #{minutes_to_read(post.content)} min read
  .card_actions
    %a.footer__recent-updates__more_link{ href: "/##{post.slug}"}
      See More