.card-media_wrap
  .card-media{ data: { backdrop: review.backdrop, carnac: "/reviews/#{review.slug}/" } }
.card-content_wrap
  %h3.card-title
    %a{ href: "/reviews/#{review.slug}/"}
      = review.title_without_year
  = grade_to_image_tag(grade: review.grade, options: { class: 'card-header_grade' })
  .card-content
    = markdown(review.pull_quote)
  .card-actions
    %a{ href: "/reviews/#{review.slug}/", title: "Continue reading #{review.display_title.upcase}" }
      Continue reading
    %span.card-date
      = review.date.strftime('%b %-d, %Y')

