---
layout: :columns
---
:ruby
  content_for(:title, "#{person.first_name} #{person.last_name}")

- content_for :layout_column_1 do
  = partial('components/cast_and_crew_card/cast_and_crew_card', locals: { person: person })
- content_for :layout_column_2 do
  - if person.direction_credits
    %h2.cast_and_crew-section_heading#director Director
    = partial('components/review_list/review_list', locals: { review_titles: person.direction_credits })

  - if person.performance_credits
    %h2.cast_and_crew-section_heading#performer Performer
    = partial('components/review_list/review_list', locals: { review_titles: person.performance_credits })

  - if person.writing_credits
    %h2.cast_and_crew-section_heading#writer Writer
    = partial('components/review_list/review_list', locals: { review_titles: person.writing_credits })
