---
---
:ruby
  content_for(:title, feature.title)

- content_for(:head) do
  %meta{ name: 'description', content: feature.pull_quote }
  %meta{ name: 'twitter:card', content: 'summary_large_image' }
  %meta{ name: 'twitter:site', content: '@franksmovielog' }
  %meta{ name: 'twitter:title', content: feature.title }
  %meta{ name: 'twitter:description', content: markdown(feature.pull_quote) }
  %meta{ name: 'twitter:image', content: feature.backdrop }

%article.post
  - if feature.backdrop
    .post_backdrop{ data: { backdrop: feature.backdrop } }

  %h1.post_title{ data: { rhythm: 0 } }= feature.title

  .post_content{ class: feature.slug, data: { rhythm: 0 } }
    = markdown(feature.content)

  .post_slug
    %span
      #{feature.title}
    = " was published on #{feature.date.strftime('%b %-d, %Y')}. "

= partial(:post_navigation, locals: { current_post: feature })