---
---
:ruby
  content_for(:title, feature.title)
  content_for(:description, feature.pull_quote)

- content_for(:js_head) do
  %script{ type: 'text/javascript', src: '//use.typekit.net/obz2qjv.js' }

%article.feature
  %h1.page-title= feature.title

  .post-content
    = markdown(feature.content)

  .feature-slug
    %span.title
      #{feature.title}
    = " was published on #{feature.date}."

