---
---
- content_for(:title, "#{feature.title}")
- content_for(:description, feature.description)
%article.post
  %h1.post-title.feature-title= feature.title

  .post-content
    = markdown(feature.content)

  .post-meta
    &#8220;#{feature.title}&#8221; was published on #{feature.date}.