---
layout: false
---
:ruby
  review_content = lambda do |r|
    content = r.content
    grade = "<p><strong>Grade: #{r.grade}</strong>"

    markdown(content + grade)
  end

!!! XML
%feed{ xmlns: 'http://www.w3.org/2005/Atom' }
  %title= Movielog.site_title
  %subtitle= "Quality reviews of films of questionable quality."
  %link{ href: "#{Movielog.site_url}/feed.xml", rel: 'self' }/
  %link{ href: Movielog.site_url }/
  %updated= Time.now.xmlschema
  %id= Movielog.site_url
  %author
    %name Frank Showalter

  - Movielog.reviews_by_sequence.each_with_index do |review, index|
    - break if index > 9
    %entry
      %title
        #{review.sequence}. #{review.title} #{grade_to_unicode_stars(grade: review.grade)}
      %link{ href: "#{Movielog.site_url}#{href_for_review(review)}/" }
      %id #{Movielog.site_url}#{href_for_review(review)}
      %updated= review.date.xmlschema
      %content{ type: 'html' }
        = CGI.escapeHTML("<a href=\"#{href_for_review(review)}\">#{image_tag(review.backdrop)}</a>")
        = CGI.escapeHTML(review_content.call(review))
