---
layout: false
---
!!! XML
%feed{ xmlns: 'http://www.w3.org/2005/Atom' }
  - posts = Movielog.posts
  - sorted_keys = posts.keys.sort.reverse
  %title= Movielog.site_title
  %link{ href: "#{Movielog.site_url}/feed.xml", rel: 'self' }/
  %link{ href: Movielog.site_url }/
  %updated= Time.now.xmlschema
  %id= Movielog.site_url
  %author
    %name Frank Showalter

  - sorted_keys.each_with_index do |key, index|
    - break if index > 9
    - post = posts[key]
    %entry
      - if post.is_a?(Movielog::Review)
        - review = post
        %title
          #{review.sequence}. #{review.display_title} #{grade_to_unicode_stars(grade: review.grade)}
        %link{ href: "#{Movielog.site_url}/reviews/#{review.slug}/" }
        %id #{Movielog.site_url}/reviews/#{review.slug}
      - else
        %title
          #{post.sequence}. #{post.title}
        %link{ href: "#{Movielog.site_url}/features/#{post.slug}/" }
        %id #{Movielog.site_url}/features/#{post.slug}
      %updated= post.date.xmlschema
      %content{ type: 'html' }
        = CGI.escapeHTML(markdown(post.content))
