---
title: How I Grade
---
%article.feature
  %h1.page-title
    How I Grade

  .post-content
    %p
      Grading systems are harder than one would think. Roger Ebert lamented the 4 star system his paper used, and the 'thumbs up/thumbs down' system he and Gene Syskil used on their syndicated review show was based around the simple question 'Should the viewer see this movie.' A pragmatic enough approach, but dumping everything into one of two buckets doesn't leave any room for nuance.

    %p
      And it's the degree of nuance that defines a rating system. On the other end of the spectrum, there's the iMDb. It uses a ten-point system with a decimal, creating a hundred different buckets, from 0.0 all the way to 10.0. That's too much nuance. I don't want to sweat weather or not a movie is a 4.6 versus a 4.7. And what could possibly separate a 0.1 from a 0.0? Now granted, individual reviewers rank on a 10-point scale and the decimals are added when averaging the reviews, but the point is that for a single person, 10 points with a decimal is overkill.

    %p
      But I should also admit that I don't like numeric systems at all. 10-point systems get confused with traditional grading systems where 6's correspond to D's, 7's to C's etc. Consider that the median score on the iMBb in 2009 was a 6.6 and you'll see what I mean.

    %p
      But what about letter grade systems? The Onion AV Club uses them, and I quite like them. In it's earlier incarnations this site used a letter grade too. So why change?

    %p
      Well, for one, grade definition's aren't universal. When I see a movie with a 'C' grade, I think it was okay, but nothing spectacular. Others think it was a bad movie.

    %p
      The other reason has to do with the way many of us consume movies now, namely Netflix. With the service's rise in popularity, I decided to synchronize my grades with their review system. Thus, if you've rated movies on Netflix, you'll already be familiar with what my ratings mean. For those that haven't used Netflix, or have forgotten the ratings, here they are:

    %dl
      %dt= grade_to_image_tag(grade: 'A', options: { class: 'how-i-grade-rating' })
      %dd
        I loved it. These are the movies I recommend unconditionally.
      %dt= grade_to_image_tag(grade: 'B', options: { class: 'how-i-grade-rating' })
      %dd
        I really liked it. These are the movies I recommend to most folks. They're not quite good enough to transcend their genere's and resonate universally, but they're solid.
      %dt= grade_to_image_tag(grade: 'C', options: { class: 'how-i-grade-rating' })
      %dd
        I liked it. As Demitri Martin said: 'An ex-girlfriend is the same as an 'okay' movie: I liked it at the time, but I don't want to see it again…'
      %dt= grade_to_image_tag(grade: 'D', options: { class: 'how-i-grade-rating' })
      %dd
        I didn't like it. Maybe it had a moment or two of goodness, but if I paid money to see it, I felt burned.
      %dt= grade_to_image_tag(grade: 'F', options: { class: 'how-i-grade-rating' })
      %dd
        I hated it. Not even in the 'so-bad-it's-good' sense.



  .feature-slug
    %span.title
