---
pagination:
  for: posts
  per_page: 10
  path: page/:num/index
---
- posts = Movielog::App.posts
- if pagination.page_num == 1
  - content_for(:title, 'Latest Updates')
- else
  - content_for(:title, "Latest Updates &middot; Page - #{pagination.page_num}")
.posts
  %h2.list-title= yield_content(:title)
  %ul.plain-list.column-list
    - pagination.each do |key|
      - post = posts[key]
      - if post.kind_of?(Movielog::Review)
        - review = post
        - directors = Movielog::App.directors_for_title(review.title).map{ |d| "#{d.first_name} #{d.last_name}" }.to_sentence
        %li.list-item.list-item-with-counter
          .list-item-title
            %a{ href: "/reviews/#{review.slug}" }
              <span class='list-item-counter'>#{review.sequence}<span class='list-item-counter-dot'>.</span></span> #{review.display_title}
            %span.list-item-rating><
              = grade_to_stars(review.grade)
          %span.list-item-rating-placeholder><
          %span.list-item-description><
            <span class="abbreviation">D</span><span class="full">irected by</span> #{directors}. <span class="full">Starring </span> #{headline_cast(review.title)}.
      - elsif post.kind_of?(Movielog::Feature)
        - feature = post
        %li.list-item.list-item-with-counter
          .list-item-title
            %a{ href: "/features/#{feature.slug}" }
              <span class='list-item-counter'>#{feature.sequence}<span class='list-item-counter-dot'>.</span></span> #{feature.title}
          %span.list-item-description
            = feature.description
.pagination
  - if pagination.prev_page
    %a.pagination-item.newer{ href: pagination.prev_page.url }
      %svg.pagination-icon{ viewBox: "-704 -384 2048 2048", xmlns: "http://www.w3.org/2000/svg" }
        %g{ transform: "scale(1 -1) translate(0 -1280)" }
          %path{ d: "M627 992q0 -13 -10 -23l-393 -393l393 -393q10 -10 10 -23t-10 -23l-50 -50q-10 -10 -23 -10t-23 10l-466 466q-10 10 -10 23t10 23l466 466q10 10 23 10t23 -10l50 -50q10 -10 10 -23z", fill: "black" }
      Newer

  - if pagination.next_page
    %a.pagination-item.older{ href: pagination.next_page.url }
      Older
      %svg.pagination-icon{ viewBox: "-704 -384 2048 2048", xmlns: "http://www.w3.org/2000/svg" }
        %g{ transform: "scale(1 -1) translate(0 -1280)" }
          %path{ d: "M595 576q0 -13 -10 -23l-466 -466q-10 -10 -23 -10t-23 10l-50 50q-10 10 -10 23t10 23l393 393l-393 393q-10 10 -10 23t10 23l50 50q10 10 23 10t23 -10l466 -466q10 -10 10 -23z", fill:"black" }