---
pagination:
  for: posts
  per_page: 9
  path: page-:num/index
---
:ruby
  posts = Movielog.posts
  unless pagination.page_num == 1
    content_for(:title, "Page - #{pagination.page_num}")
  end

%ol.latest_updates
  - pagination.each do |key|
    - post = posts[key]
    - if post.is_a?(Movielog::Review)
      - review = post
      - directors = MovieDb.directors_for_title(db: Movielog.db, title: review.title)
      %li.card.card--with_shadow{ value: post.sequence, style: "z-index: 1#{post.sequence}" }
        .latest_updates-item_anchor{ id: post.slug }
        .card_header_wrap{ data: { carnac: true } }
          %header.card_header.card_header--with_date{ data: { sequence: post.sequence } }
            %h3.card_header-title
              %a{ href: "/reviews/#{review.slug}/"}
                = "#{review.display_title}"
            = grade_to_image_tag(grade: review.grade, options: { class: 'card_header-rating' })
            .card_header-date
              = post.date.strftime('%b %-d, %Y')
          .card_backdrop{ data: { backdrop: review.backdrop } }
        .card_slug
          %span.abbreviation
            = ' D'
          %span.full
            irected by
          = " #{directors.map { |d| "<span class='name'>#{d.first_name} #{d.last_name}</span>" }.to_sentence}. "
          %span.full
            Starring
          = " #{headline_cast(title: review.title)}."
        .card_text
          = markdown(review.pull_quote)
        .card_actions.card_actions--with_divider
          %a{ href: "/reviews/#{review.slug}/" }
            Continue reading
          &nbsp;&middot; #{minutes_to_read(review.content)} min read
    - elsif post.is_a?(Movielog::Feature)
      - feature = post
      %li.card.card--with_shadow{ value: post.sequence }
        %a{ href: "/features/#{feature.slug}/"}
          %header.card_header.card_header--with_date{ data: { sequence: post.sequence } }
            %h3.card_header-title
              = feature.title
            .card_header-date
              = post.date.strftime('%b %-d, %Y')
          .card_backdrop{ data: { backdrop: feature.backdrop } }
        .card_text
          = markdown(feature.pull_quote)
        .card_actions.card_actions--with_divider
          %a{ href: "/features/#{feature.slug}/" }
            Continue reading
.latest_updates_pagination
  - if pagination.prev_page
    %a.latest_updates_pagination-item.newer{ href: pagination.prev_page.url }
      Newer

  - if pagination.next_page
    %a.latest_updates_pagination-item.older{ href: pagination.next_page.url }
      Older