---
pagination:
  for: posts
  per_page: 9
  path: page-:num/index
---
:ruby
  posts = Movielog.posts
  unless pagination.page_num == 1
    content_for(:title, "Page - #{pagination.page_num}")
  end

%ol.latest-updates
  - pagination.each do |key|
    - post = posts[key]
    - if post.is_a?(Movielog::Review)
      - review = post
      - directors = MovieDb.directors_for_title(db: Movielog.db, title: review.title)
      %li.latest-updates__item{ id: post.slug, value: post.sequence }
        %a{ href: "/reviews/#{review.slug}/"}
          %header.latest-updates__item__header{ data: { sequence: post.sequence } }
            %h3.latest-updates__item__header__title
              = "#{review.display_title}"
            = grade_to_image_tag(grade: review.grade, options: { class: 'latest-updates__item__header__rating' })
            .latest-updates__item__header__date
              = post.date.strftime('%b %-d, %Y')
          .latest-updates__item__backdrop{ data: { backdrop: review.backdrop } }
        .latest-updates__item__slug
          %span.abbreviation
            = ' D'
          %span.full
            irected by
          = " #{directors.map { |d| "<span class='name'>#{d.first_name} #{d.last_name}</span>" }.to_sentence}. "
          %span.full
            Starring
          = " #{headline_cast(title: review.title)}."
        .latest-updates__item__pull-quote
          = markdown(review.pull_quote)
        .latest-updates__item__read-more
          %a{ href: "/reviews/#{review.slug}/" }
            Continue reading 
          &nbsp;&middot; #{minutes_to_read(review.content)} min read
          
    - elsif post.is_a?(Movielog::Feature)
      - feature = post
      %li.latest-updates-list-item{ value: post.sequence }
        .latest-updates-list-item-date
          = post.date.strftime('%B %-d, %Y')
        %header.latest-updates-list-item-header
          %h3.latest-updates-list-item-title{ data: { number: post.sequence }}
            %a.latest-updates-list-item-link{ href: "/features/#{feature.slug}/" }
              = feature.title
        .latest-updates-list-item-pull-quote
          = markdown(feature.pull_quote)
.latest-updates__pagination
  - if pagination.prev_page
    %a.latest-updates__pagination__item.newer{ href: pagination.prev_page.url }
      Newer

  - if pagination.next_page
    %a.latest-updates__pagination__item.older{ href: pagination.next_page.url }
      Older