---
pagination:
  for: posts
  per_page: 10
  path: page/:num/index
---
:ruby
  posts = Movielog.posts
  unless pagination.page_num == 1
    content_for(:title, "Page - #{pagination.page_num}")
  end
- content_for(:header) do
  Latest Updates
%ol.latest-updates-list
  - pagination.each do |key|
    - post = posts[key]
    - if post.is_a?(Movielog::Review)
      - review = post
      - directors = MovieDb.directors_for_title(db: Movielog.db, title: review.title)
      %li.latest-updates-list-item{ value: post.sequence }
        .latest-updates-list-item-date
          = post.date.strftime('%B %-d, %Y')
        %header.latest-updates-list-item-header
          %h2.latest-updates-list-item-title{ data: { number: post.sequence }}
            %a{ href: "/reviews/#{review.slug}/" }
              = "#{review.display_title} "
          = grade_to_image_tag(grade: review.grade, options: { class: 'latest-updates-list-item-rating' })
        %span.latest-updates-list-item-slug.with-rating
          %span.abbreviation
            = ' D'
          %span.full
            irected by
          = " #{directors.map { |d| "<span class='name'>#{d.first_name} #{d.last_name}</span>" }.to_sentence}. "
          %span.full
            Starring
          = " #{headline_cast(title: review.title)}."
        .latest-updates-list-item-pull-quote
          = markdown(review.pull_quote)
    - elsif post.is_a?(Movielog::Feature)
      - feature = post
      %li.latest-updates-list-item{ value: post.sequence }
        .latest-updates-list-item-date
          = post.date.strftime('%B %-d, %Y')
        %header.latest-updates-list-item-header
          %h2.latest-updates-list-item-title{ data: { number: post.sequence }}
            %a.latest-updates-list-item-link{ href: "/features/#{feature.slug}/" }
              = feature.title
        .latest-updates-list-item-pull-quote
          = feature.pull_quote
.pagination
  - if pagination.prev_page
    %a.pagination-item.newer{ href: pagination.prev_page.url }
      Newer

  - if pagination.next_page
    %a.pagination-item.older{ href: pagination.next_page.url }
      Older
