---
pagination:
  for: posts
  per_page: 20
  path: page-:num/index
---

:ruby
  posts = Movielog.posts

- releases = Movielog::Db::QueryRecentReviewedReleases.call(db: Movielog.db)
.recent_releases-wrap
  %ol.recent_releases
    - limit = 0;
    - releases.each do |release|
      - break if limit == 3
      %li.recent_release
        - review = Movielog.reviews_by_title[release]
        .card-media{ data: { backdrop: review.backdrop, carnac: "/reviews/#{review.slug}/" } }
        %a.recent_release-wrap{ href: "/reviews/#{review.slug}/"}
          %h3.recent_release-title
            = markdown(review.pull_quote)
            / %br
            / = grade_to_image_tag(grade: review.grade, options: { class: 'recent_release-grade' })
      - limit = limit + 1;
.page_wrap
  .main
    %ol.post_list
      - pagination.each do |key|
        - post = posts[key]
        %li.post_list-post
          %header.post_list-post_header
            %h3.post_list-post_title
              %a{ href: "/reviews/#{post.slug}/"}
                = markdown(truncate_words(post.pull_quote, length: 20), inline: true)
            .post_list-post_date
              = post.date.strftime('%b %-d, %Y')

          .post_list-post_content_wrap
            .post_list-post_backdrop-wrap
              .post_list-post_backdrop{ data: { backdrop: post.backdrop, carnac: "/reviews/#{post.slug}/" } }
            .post_list-post_content
              = grade_to_image_tag(grade: post.grade, options: { class: 'post_list-post_grade' })
              = first_paragraph(post.content)
    .more-wrap
      .more-header
        More from Frank's Movie Log
      %ol.more-post_list
        - limit = 0;
        - releases.each do |release|
          - limit = limit + 1;
          - next if limit < 4
          - break if limit == 8
          %li.more-post_list_post
            - review = Movielog.reviews_by_title[release]
            .more-post_list_post_backdrop{ data: { backdrop: review.backdrop, carnac: "/reviews/#{review.slug}/" } }
            %a.more-post_list_post_wrap{ href: "/reviews/#{review.slug}/"}
              %h3.more-post_list_post_title
                = markdown(truncate_words(review.pull_quote, length: 20), inline: true)
              = grade_to_image_tag(grade: review.grade, options: { class: 'more-post_list_post_grade' })

      - if pagination.next_page
        .more-pagination
          %a.more-pagination_link{ href: pagination.next_page.url }
            More Posts
  .sidebar
    .sidebar-container
      %header
        %h2.sidebar-heading <strong>About</strong> the Movielog
      .sidebar-content
        %p
          Hi there. I'm Frank. <a href='/viewings/' data-no-carnac>I watch a lot of movies.</a> Once upon a time, I reviewed everything I watched, but these days I aim for quality over quantity. I’m not a great writer. Maybe not even a good one. But with practice I can be better.
    .sidebar-container
      %header
        %h2.sidebar-heading <strong>How</strong> I Grade
      .sidebar-content
        %dl.how_i_grade_list
          %dt.how_i_grade_list-grade
            = grade_to_image_tag(grade: 'A', options: { class: 'footer_how_i_grade_list-rating' })
          %dd.how_i_grade_list-text
            %span a great movie
          %dt.how_i_grade_list-grade
            = grade_to_image_tag(grade: 'B', options: { class: 'footer_how_i_grade_list-rating' })
          %dd.how_i_grade_list-text
            %span  a good movie
          %dt.how_i_grade_list-grade
            = grade_to_image_tag(grade: 'C', options: { class: 'footer_how_i_grade_list-rating' })
          %dd.how_i_grade_list-text
            %span an okay movie
          %dt.how_i_grade_list-grade
            = grade_to_image_tag(grade: 'D', options: { class: 'footer_how_i_grade_list-rating' })
          %dd.how_i_grade_list-text
            %span a bad movie
          %dt.how_i_grade_list-grade
            = grade_to_image_tag(grade: 'F', options: { class: 'footer_how_i_grade_list-rating' })
          %dd.how_i_grade_list-text
            %span an awful movie

        %p Grading systems are harder than one would think. It's all about nuance. <a href='/features/how-i-grade/'>I think a 5-star system works, but I’m not married to the idea.</a>