---
layout: :single
---
:ruby
  review = Movielog.reviews[review.sequence]
  description = review.capsule
  meta_description = review.capsule

- content_for(:title) do
  #{review.display_title} Movie Review

- content_for(:head) do
  %meta{ name: 'description', content: meta_description }
  %meta{ property: 'og:title', content: review.display_title }
  %meta{ property: 'og:url', content: "https://www.franksmovielog.com/reviews/#{review.slug}" }
  %meta{ property: 'og:image', content: review.backdrop }
  %meta{ property: 'og:description', content: description }
  %meta{ name: 'twitter:card', content: 'summary_large_image' }
  %meta{ name: 'twitter:site', content: '@franksmovielog' }
  %meta{ name: 'twitter:title', content: review.display_title }
  %meta{ name: 'twitter:description', content: description }
  %meta{ name: 'twitter:image', content: review.backdrop }

= partial('components/review/review', locals: { review: review })
= partial('components/post_share_footer/post_share_footer', locals: { post: review })

%script{ type: 'application/ld+json' }
  :plain
    {
      "@context":"http://schema.org",
      "@type":"Review",
      "author":{
        "@type":"Person",
        "name":"Frank Showalter",
        "sameAs":"https://www.frankshowalter.com"
      },
      "datePublished":"#{review.date.iso8601}",
      "description":"#{description}",
      "inLanguage":"en",
      "itemReviewed":{
        "@type":"Movie",
        "name":"#{review.display_title}",
        "sameAs":"http://www.imdb.com/title/#{review.imdb_id}/"
      },
      "publisher":{
        "@type":"Organization",
        "name":"Frank's Movie Log",
        "sameAs":"http://www.franksmovielog.com"
      },
      "reviewRating":{
        "@type":"Rating",
        "ratingValue": #{Movielog::ConvertGradeToNumber.call(grade: review.grade) / 3}
      }
    }

