---
---
- content_for(:title, "#{review.display_title} Movie Review")
- aka_titles = Movielog::App.aka_titles_for_title(review.title, review.display_title)
- viewings = Movielog::App.viewings_for_title(review.title)
- headline_cast = Movielog::App.headline_cast_for_title(review.title)
- directors = Movielog::App.directors_for_title(review.title)
- writers = Movielog::App.writers_for_title(review.title)
.post{ itemscope: true, itemtype: 'http://schema.org/Review' }
  %h1.post-title{ itemprop: 'name' }= review.display_title

  - if aka_titles.any?
    %dl.aka
      %dt.aka-heading aka
      - aka_titles.each do |aka_title|
        %dd.aka-title= aka_title.aka_title

  %span.post-date Starring #{ headline_cast(review.title) }

  .rating{ itemprop: 'reviewRating', itemscope: true, itemtype: 'http://schema.org/Rating' }
    %meta{ content: (grade_to_number(review.grade) / 3.0) * 2.0, itemprop: 'ratingValue' }
    %meta{ content: '1', itemprop: 'worstRating' }
    %meta{ content: '10', itemprop: 'bestRating' }
    = grade_to_stars(review.grade)

  .div{ itemprop: 'reviewBody'}
    = markdown(review.content)
  %meta{ content: published_date(review), itemprop: 'datepublished'}
  %span{ itemprop: 'author', itemscope: true, itemtype: 'http://schema.org/Person' }
    %meta{ content: 'Frank Showalter', itemprop: 'name' }

  %h3.viewings-header Viewings
  %ol.viewings-list
    - viewings.each do |viewing|
      %li.viewing via #{viewing.venue} on #{viewing.date.strftime("%A the #{viewing.date.day.ordinalize} of %B %Y")}

  %div{ itemprop: 'itemReviewed', itemscope: true, itemtype: 'http://schema.org/Movie' }
    %meta{ content: review.display_title, itemprop: 'name' }
    %h3.credits-header Credits
    %h4 Directed by
    %ul.credits
      - directors.each do |director|
        %li.credit #{director.first_name} #{director.last_name}
    %h4 Starring
    %ul.credits
      - headline_cast.each do |performer|
        %li.credit{ itemprop: 'actor', itemscope: true, itemtype: 'http://schema.org/Person' }
          %span{ itemprop: 'name' }
            #{performer.first_name} #{performer.last_name}
    %h4 Written by
    %ul.credits
      - writers.each do |writer|
        %li.credit #{writer.first_name} #{writer.last_name}

/   <div class="post-meta">Started on {{ page.started | date: "%A, %b, %-d, %Y" }} and finished on {{ page.finished  | date: "%A, %b, %-d, %Y" }}.</div>
/ </div>

/ <div class="related">
/   <h2>Related Posts</h2>
/   <ul class="related-posts">
/     {% for post in site.related_posts limit:3 %}
/       <li>
/         <h3>
/           <a href="{{ site.baseurl }}{{ post.url }}">
/             {{ post.title }}
/             <small>By {{ post.author }}</small>
/           </a>
/         </h3>
/       </li>
/     {% endfor %}
/   </ul>
/ </div>

/ %article.post
/   %header
/     %div{view.still_attributes}
/     .post__title
/       %h2= page_title(view.display_title)
/       = view.aka_titles
/     .post__slug
/       = view.rating
/       %br
/       = view.header_slug
/   .post__content
/     = view.text
/   %footer.post__footer
/     %h3 Viewings
/     %ol.viewings__list
/       - view.viewings.each do |viewing|
/         %li
/           via #{viewing.venue} on #{viewing.date_link}

/     %h3 Credits
/     .credits
/       - if view.has_poster?
/         .credits__poster{view.poster_attributes}
/       = view.credits

/ %nav.pagination
/   %ul.pagination__jump
/     - if view.has_previous_entry?
/       %li
/         %a.pagination__jump__prev{view.previous_link_attributes} Older
/     - if view.has_next_entry?
/       %li
/         %a.pagination__jump__next{view.next_link_attributes} Newer