---
---
:ruby
  review = Movielog.reviews[review.sequence]
  content_for(:title, "#{review.display_title} Movie Review")
  aka_titles = MovieDb.aka_titles_for_title(db: Movielog.db, title: review.title, display_title: review.display_title)
  viewings = Movielog.viewings_for_title(title: review.title)
  directors = MovieDb.directors_for_title(db: Movielog.db, title: review.title)
  director_slug = directors.map { |d| "#{d.first_name} #{d.last_name}" }.to_sentence
  description = review.pull_quote.gsub( '_', '&#34;' ).html_safe
  meta_description = escape_html(description_for_review(review: review)).gsub( '_', '&#34;' ).html_safe
- content_for(:head) do

  %meta{ name: 'description', content: meta_description }
  %meta{ property: 'og:title', content: review.display_title }
  %meta{ property: 'og:url', content: "https://www.franksmovielog.com/reviews/#{review.slug}" }
  %meta{ property: 'og:image', content: review.backdrop }
  %meta{ property: 'og:description', content: description }
  %meta{ name: 'twitter:card', content: 'summary_large_image' }
  %meta{ name: 'twitter:site', content: '@franksmovielog' }
  %meta{ name: 'twitter:title', content: review.display_title }
  %meta{ name: 'twitter:description', content: description }
  %meta{ name: 'twitter:image', content: review.backdrop }

%article.post
  - if review.backdrop
    .post_backdrop{ data: { backdrop: review.backdrop } }

  %h1.post_title= review.display_title

  - if aka_titles.any?
    %dl.review_aka_list
      %dt.review_aka_list-heading aka
      - aka_titles.each do |aka_title|
        %dd.review_aka_list-item= aka_title unless aka_title == review.display_title

  = grade_to_image_tag(grade: review.grade, options: { class: 'review_rating' })

  .post_content
    = markdown(review.content)
  %p.post_slug
    %span.review-meta_title
      = review.title_without_year
    = " (#{review.year})"
    %span.abbreviation
      = ' D'
    %span.full
      irected by
    = " #{director_slug}. "
    %span.full
      Starring
    = " #{headline_cast(title: review.title)}. Reviewed on #{review.date.strftime('%b %-d, %Y')}. I've seen it "
    %a{ href: "/viewings/?title=#{URI.escape(review.display_title)}", data: { no_carnac: true } }
      = "#{pluralize(viewings.length, 'time')}. "
    = "More at the "
    %a{ itemprop: 'sameAs', href: "http://www.imdb.com/title/#{review.imdb_id}/" }
      IMDb
    = "."
    - more_for_cast = Movielog::Db::QueryRelatedTitlesByCast.call(db: Movielog.db, title: review.title)
- unless more_for_cast.empty?
  - more_for_cast.each do |performer, titles|
    - next unless titles.length > 1
    %h2.review-more_header
      More with #{performer.first_name} #{performer.last_name}
    %ul.card_list
      - titles.each do |title|
        %li.card.card_list-item{ class: "#{'half' if titles.length == 2 }"}
          = partial(:review_card_content, locals: { review: Movielog.reviews_by_title[title] })

- content_for(:footer) do
  %script{ type: 'application/ld+json' }
    :plain
      {
        "@context":"http://schema.org",
        "@type":"Review",
        "author":{
          "@type":"Person",
          "name":"Frank Showalter",
          "sameAs":"https://www.frankshowalter.com"
        },
        "datePublished":"#{review.date.iso8601}",
        "description":"#{description}",
        "inLanguage":"en",
        "itemReviewed":{
          "@type":"Movie",
          "name":"#{review.display_title}",
          "sameAs":"http://www.imdb.com/title/#{review.imdb_id}/"
        },
        "publisher":{
          "@type":"Organization",
          "name":"Frank's Movie Log",
          "sameAs":"http://www.franksmovielog.com"
        },
        "reviewRating":{
          "@type":"Rating",
          "ratingValue": #{Movielog::ConvertGradeToNumber.call(grade: review.grade) / 3}
        }
      }

