---
---
:ruby
  review = Movielog.reviews[review.sequence]
  content_for(:title, "#{review.display_title} Movie Review")
  aka_titles = MovieDb.aka_titles_for_title(db: Movielog.db, title: review.title)
  viewings = Movielog.viewings_for_title(title: review.title)
  headline_cast = MovieDb.headline_cast_for_title(db: Movielog.db, title: review.title)
  directors = MovieDb.directors_for_title(db: Movielog.db, title: review.title)
  director_slug = directors.map { |d| "<span class='name'>#{d.first_name} #{d.last_name}</span>" }.to_sentence
  writers = MovieDb.writers_for_title(db: Movielog.db, title: review.title)
  content_for(
    :description,
    description_for_review(review: review, aka_titles: aka_titles, headline_cast: headline_cast))

- content_for(:js_head) do
  %script{ type: 'text/javascript', src: '//use.typekit.net/obz2qjv.js' }

%article.post{ itemscope: true, itemtype: 'http://schema.org/Review' }
  %h1.post-title{ itemprop: 'name' }= review.display_title

  - if aka_titles.any?
    %dl.aka
      %dt.aka-heading aka
      - aka_titles.each do |aka_title|
        %dd.aka-title= aka_title unless aka_title == review.display_title

  %span.post-slug Directed by #{director_slug}

  .rating-wrap{ itemprop: 'reviewRating', itemscope: true, itemtype: 'http://schema.org/Rating' }
    %meta{ content: (Movielog::ConvertGradeToNumber.call(grade: review.grade) / 3.0) * 2.0,
           itemprop: 'ratingValue' }
    %meta{ content: '1', itemprop: 'worstRating' }
    %meta{ content: '10', itemprop: 'bestRating' }
    = grade_to_svg_stars(grade: review.grade)

  .post-content{ itemprop: 'reviewBody'}
    = markdown(review.content)
  %meta{ content: review.date.iso8601, itemprop: 'datepublished'}
  %span{ itemprop: 'author', itemscope: true, itemtype: 'http://schema.org/Person' }
    %meta{ content: 'Frank Showalter', itemprop: 'name' }
  .column-half
    %h3.card-header Viewings
    %ol.numbered-list-inline
      - viewings.each_with_index do |viewing, index|
        %li.numbered-list-item.card-description{ value: index + 1 }
          = viewing.date.strftime("%A  %B #{viewing.date.day.ordinalize}, %Y")
          %span.role= " via "
          = viewing.venue
    - unless review.poster.blank?
      .poster{ data: { background_image: review.poster, set_height: true }}
  .column-half
    %div{ itemprop: 'itemReviewed', itemscope: true, itemtype: 'http://schema.org/Movie' }
      %meta{ content: review.display_title, itemprop: 'name' }
      %h3.card-header Directed by
      %ul.plain-list
        - directors.each do |director|
          %li.card-description
            #{director.first_name} #{director.last_name}
            - unless director.notes.blank?
              %span.role
                = " #{director.notes}"
      %h3.card-header Starring
      %ul.plain-list
        - headline_cast.each do |performer|
          %li.card-description{ itemprop: 'actor',
                                itemscope: true,
                                itemtype: 'http://schema.org/Person' }
            %span{ itemprop: 'name' }
              #{performer.first_name} #{performer.last_name}
              %span.role
                = " as #{performer.role}"
      %h3.card-header Written by
      %ul.plain-list
        - writers.each do |writer|
          %li.card-description
            #{writer.first_name} #{writer.last_name}
            %span.role
              = " #{writer.notes}"

    %p.card-description More at <a href="http://www.imdb.com/title/#{review.imdb_id}">the IMDb</a>.