---
title: Viewing Log
---
- sorted_viewings = viewings.keys.sort.reverse
- content_for(:content_class, 'wide')
.posts-with-filter
  %h2.list-title Viewing Log
  .column-one-third{ data: { filter_controls: true, target: '#viewings' }}
    %h3.card-header.filter-controls-header Filter and Sort
    = text_filter(placeholder: 'Title', attribute: 'data-title')
    = range_filter(label: 'Year',
                   attribute: 'data-release-date-year',
                   min: oldest_year(collection: viewings.values, date_method: :release_date),
                   max: newest_year(collection: viewings.values, date_method: :release_date))
    = sort_filter(label: 'Order By',
                  attribute: 'viewing-date-desc',
                  target: '#viewings',
                  options: [['Viewing Date (Newest First)', 'viewing-date-desc'],
                            ['Viewing Date (Oldest First)', 'viewing-date-asc'],
                            ['Release Date (Newest First)', 'release-date-desc'],
                            ['Release Date (Oldest First)', 'release-date-asc'],
                            %w(Title title-asc),
                            ])
  .column-two-thirds
    %ol.numbered-list.filter-results#viewings
      - sorted_viewings.each do |key|
        - viewing = viewings[key]
        %li.list-item{ data_for_viewing(viewing: viewing) }
          - if (review = reviews[viewing.title])
            .list-item-header
              .list-item-title
                %a.list-item-link{ href: "/reviews/#{review.slug}/" }
                  = "#{review.display_title} "
              %span.list-item-rating
                = grade_to_svg_stars(grade: review.grade)
          - else
            .list-item-title
              = viewing.display_title
          .list-item-description
            - if review
              %span.list-item-rating-placeholder
            = "#{viewing.date.strftime("%A the #{viewing.date.day.ordinalize} of %B %Y")} via #{viewing.venue}."
- content_for(:js) do
  %script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'}
  :javascript
    window.jQuery || document.write('<script src="#{asset_path(:javascript, 'jquery.js')}"><\/script>')
  = javascript_include_tag('application.js')