---
title: Viewing Log
---
- sorted_viewings = viewings.keys.sort.reverse
.posts
  %h2.list-title Viewing Log
  .column-one-third{ data: { filter_controls: true, target: '#viewings' }}
    %h3.card-header.filter-controls-header Filter and Sort
    = text_filter(placeholder: 'Title', attribute: 'data-title')
    = range_filter(label: 'Year', attribute: 'data-release-date-year', min: oldest_year(collection: viewings.values, date_method: :release_date), max: newest_year(collection: viewings.values, date_method: :release_date))
    = sort_filter(label: 'Order By', attribute: 'viewing-date-desc', target: '#viewings', options: [%w(Title title-asc), %w(Newest release-date-desc), %w(Oldest release-date-asc), ['Newest Viewing', 'viewing-date-desc'], ['Oldest Viewing', 'viewing-date-asc']])
  .column-two-thirds
    %ul.plain-list.filter-results#viewings
      - sorted_viewings.each do |key|
        - viewing = viewings[key]
        %li.list-item{ data_for_viewing(viewing: viewing) }
          .list-item-header
            %span.list-item-viewing-title
              = viewing.display_title
          .list-item-description
            #{viewing.date.strftime("%A the #{viewing.date.day.ordinalize} of %B %Y")} via #{viewing.venue}.
- content_for(:js) do
  %script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'}
  :javascript
    window.jQuery || document.write('<script src="#{asset_path(:javascript, 'jquery.js')}"><\/script>')
  = javascript_include_tag('application.js')