---
title: Viewing Log
---
- sorted_viewings = viewings.keys.sort.reverse
.posts
  %h2.list-title Viewing Log
  .column-one-third{ data: { filter_controls: true, target: "#viewings" }}
    %h3.card-header Filter and Sort
    = text_filter("Title", "data-title")
    = range_filter("Year", "data-release-date-year", oldest_year(viewings.values, :release_date), newest_year(viewings.values, :release_date))
    = sort_filter("Order By", "viewing-date-desc", "#viewings", [["Title", "title-asc"], ["Newest", "release-date-desc"], ["Oldest", "release-date-asc"], ["Newest Viewing", "viewing-date-desc"], ["Oldest Viewing", "viewing-date-asc"]])
  .column-two-thirds
    %ul.plain-list#viewings
      - sorted_viewings.each do |key|
        - viewing = viewings[key]
        - directors = Movielog::App.directors_for_title(viewing.title).map{ |d| "#{d.first_name} #{d.last_name}" }.to_sentence
        %li.list-item{ data_for_viewing(viewing) }
          .list-item-title
            = viewing.display_title
          .list-item-description
            #{viewing.date.strftime("%A the #{viewing.date.day.ordinalize} of %B %Y")} via #{viewing.venue}.
- content_for(:js) do
  %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
  :javascript
    window.jQuery || document.write('<script src="#{asset_path(:javascript, 'jquery.js')}"><\/script>')
  = javascript_include_tag("application.js")