:ruby
  aka_titles = MovieDb.aka_titles_for_title(db: Movielog.db, title: review.title, display_title: review.display_title)
  directors = MovieDb.directors_for_title(db: Movielog.db, title: review.title)
  cast = MovieDb.headline_cast_for_title(title: review.title, db: Movielog.db, count: 100)
  writers = MovieDb.writers_for_title(title: review.title, db: Movielog.db)

.credits
  %h1.credits-title= review.display_title
  %p.credits-slug
    = "Published on "
    = review.date.strftime('%b %-d, %Y')
    = ". I've seen it "
    %a{ href: "/viewings/?title=#{URI.escape(review.display_title)}", data: { no_carnac: true } }
      = "#{pluralize(viewings.length, 'time')}. "
    = "More at the "
    %a{ itemprop: 'sameAs', href: "http://www.imdb.com/title/#{review.imdb_id}/" }
      IMDb
    = "."

.tags
  %ul.tags-list
    - directors.each do |person|
      - next unless Movielog.cast_and_crew.key?(person.full_name)
      %li.tags-list_item= cast_and_crew_link(person, class: 'tags-link')
    - cast.each do |person|
      - next unless Movielog.cast_and_crew.key?(person.full_name)
      %li.tags-list_item= cast_and_crew_link(person, class: 'tags-link')
    - writers.each do |person|
      - next unless Movielog.cast_and_crew.key?(person.full_name)
      %li.tags-list_item= cast_and_crew_link(person, class: 'tags-link')



%div



/ %aside.credits
/   %h1.credits-title= review.display_title
/   - if aka_titles.any?
/     %dl.credits-aka_list
/       %dt.credits-label aka
/       - aka_titles.each do |aka_title|
/         %dd.credits-aka_title= aka_title unless aka_title == review.display_title
/   %dl.credits-list
/     %dt.credits-label Directed By
/     - directors.each do |director|
/       %dd.credits-value= cast_and_crew_link(director)
/     %dt.credits-label Starring
/     - MovieDb.headline_cast_for_title(title: review.title, db: Movielog.db, count: 6).each do |person|
/       %dd.credits-value= cast_and_crew_link(person, class: 'credits-link')
/     %dt.credits-label Written By
/     - MovieDb.writers_for_title(title: review.title, db: Movielog.db).each do |person|
/       %dd.credits-value= cast_and_crew_link(person)
/   %p.credits-slug
/     = "Published on "
/     = review.date.strftime('%b %-d, %Y')
/     = ". I've seen it "
/     %a{ href: "/viewings/?title=#{URI.escape(review.display_title)}", data: { no_carnac: true } }
/       = "#{pluralize(viewings.length, 'time')}. "
/     = "More at the "
/     %a{ itemprop: 'sameAs', href: "http://www.imdb.com/title/#{review.imdb_id}/" }
/       IMDb
/     = "."